
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */